
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   /* background-color: #011C27;*/
 background-color: #E2E2E2;
}
nav{
    padding: 5px;
     background-color: #011C27;
    display: flex;
    justify-content: space-between;
}